<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="/assets/styles.css">

  <%= render "partials/head.html.erb" %>
</head>
<body lang="en">
  <%= render "partials/header.html.erb" %>
  <%= yield %> 
  <%= render "partials/footer.html.erb" %>
</body>
</html>
